body {
    background-color: antiquewhite;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color:burlywood;
}

.navbar-buttons {
    display: flex;
}

.navbar-buttons:hover {
    background-color: antiquewhite;
}

#homeButton {
    font-size: large;
    font-family: cursive;
    color: black;
    text-decoration: none;
    background-color: blanchedalmond;
}

#homeButton:hover {
    background-color:brown;
    
}

#aboutMeButton {
    font-size: large;
    font-family: cursive;
    background-color: blanchedalmond;
}

#aboutMeButton:hover {
    background-color: brown;
}

#portfolioButton {
    font-size: large;
    font-family: cursive;
    background-color: blanchedalmond;
}

#portfolioButton:hover {
    background-color: brown;
}

#contacts {
    font-size: large;
    font-family: cursive;
    background-color: blanchedalmond;
}

#contacts:hover {
    background-color: brown;
}

.form-field {
    font-size: 2em;
    padding: 10px;
}

 #mssnTitle {
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
    font-family: cursive;
 }

#mssnStmnt {
    text-align: center;
    font-size: x-large;
    font-family: cursive;
    font-weight: bold;
}

#aboutDescript {
    text-align: center;
    font-size: x-large;
    font-family: cursive;
    font-weight: bolder;
}

.aboutMe {
    font-family: cursive;
    font-size: larger;
    font-weight: bolder;

}

#workoutTitle{
    text-decoration: underline;
}

#videoGameTitle {
    text-decoration: underline;
}

#fatherTitle {
    text-decoration: underline;
}

#myPortDescrip {
    font-family: cursive;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;

}

#groceryList {
    font-family: cursive;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
}

#groceryListDesc {
    font-family: cursive;
    font-size: larger;
    font-weight: bolder;
}

#secureVault {
    font-family: cursive;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
}

#secureVaultDesc {
    font-family: cursive;
    font-size: larger;
    font-weight: bolder;
}

